                 

<div id="image_upload_modal">

                    <div class="modal-header">
                        <h3>Add Image to: {{ input.name }}</h3>
                    </div>

                    <form id="my_form" action="upload.php" method="post" enctype="multipart/form-data" target="upload_target">

<!--VERY IMPORTANT:the hidden element should come first before any element within the form-->

                    <input type="hidden" name="<?php echo ini_get('session.upload_progress.name'); ?>" value="demo">
                    <div class="modal-body" ng-model="object">       

                    <ul class="fileUpload">
                        <li>
                            <span>Short Desc:</span>
                        </li>
                        <li>
                            <input type="text" name="desc" ng-model="object.title" ng-init="object.title=''"/>
                        </li>
                    </ul>
                    <ul class="fileUpload">
                        <li>
                            <span>Source:</span>
                        </li>
                        <li>
                            <div style="width:100%; height:100%; background:transparent; position:absolute;left:0;top:0;"></div>                        
                            <input id="txtFileName" type="text" name="src" ng-model="object.url" ng-init="object.url=''" ng-model-onblur/>                        
                        </li>
                        <li>    
                            <div class="button up" onclick="$('#fileToUpload').click();"ng-class="{'invisible' : isSave === true}" >Upload</div>
                        </li>
                    </ul>



                            <input type="text" value="/images/{{ input.name.toLowerCase() }}/" name="destFolder" id="destFolder" style="visibility: hidden;">

                            <input type="file" onchange="CopyMe(this, 'txtFileName');" name="fileToUpload" id="fileToUpload" style="visibility: hidden;">
                        

                            <br /> 
    <iframe id="upload_frame" name="upload_frame" frameborder="0" border="0" src="" scrolling="no" scrollbar="no" > </iframe> 
    <br /> 

                    </div>
                    <div class="ui-modal-footer">
            <div id="save_upload" class="button add" ng-click="ok('images')" class="" ng-class="{'active' : isSave}">Save</div>                    
            <div class="button delete" ng-click="cancel()">Cancel</div>
                    </div>
                    </form>

</div>